  .modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto; /* to enable scrolling if content exceeds modal size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add desired margins */
    margin: 20px;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .modal-content {
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  