.tiles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.title-tile {
  grid-column: span 1;
}

.objective-tile {
  grid-column: span 1;
}

.additional-detail-tile {
  grid-column: span 1;
}

.budget-tile {
  grid-column: span 1;
}

.capacity-tile {
  grid-column: span 1;
}

.select-list-tile {
  grid-column: span 1;
}

.list-tile {
  grid-column: span 1;
}
